
@import "~bootstrap/scss/bootstrap";


$primary-color: #333;
$secondary-color: blue;

body {
    background-color: lightgray;
}

h1 {
    color: $primary-color;
    margin-bottom: 50px;
    &.contactTitle {
        color: $secondary-color;
    }
}
